:root {
  --primary: #1f3b62;
  --secondary: #24252a;
  --teritary: #E5E7DD;
  --fourth: #EAC25E;
  --navbar-font-size: 1.4rem;
  --navbar-font-family: font-family: 'Inter';
  --font-1: IBM Plex Sans Arabic;
  --font-2: Inter;
  --font-3: Lilita One;
  --font-4: Mogra;
  --font-5: Roboto Condensed;
  --font-6: Ubuntu Condensed;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #1f3b62;
}


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--fourth));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--teritary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* title underneath border */


@media only screen and (min-width: 900px) {

  .title {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.5rem); ;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.8em;
  }
  .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: var(--fourth);
  }
  .title:after { 
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: var(--fourth);
  }
}


.span-title {
  color: var(--fourth);
}


/* rentals */

.rentalsContainer {
  min-height: 100vh;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg {
  background-image: url(./media/homePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 95vh;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.teritary {
  color: var(--teritary);
}

.fourth {
  color: var(--fourth);
}

.primary-background {
  background-color: #1f3b62;
}

.font-1 {
  font-family: 'IBM Plex Sans Arabic';
}

.font-2 {
  font-family: 'Inter';
}

.font-3 {
  font-family: 'Lilita One';
}

.font-4 {
  font-family: 'Mogra';
}

.font-5 {
  font-family: 'Roboto Condensed';
}

.font-6 {
  font-family: 'Ubuntu Condensed';
}

.bg-Primary {
  background-color: var(--secondary);
}

/* specific to ice surface */

.borderTop {
  border-top: solid 2px var(--fourth);
}

/* about page */

.aboutContainer {
  min-height: 100vh;
}

.contact-us {
  z-index: 100;
  position: relative;
}


@media only screen and (min-width: 900px) {
    .MVV {
      display: flex;
      justify-content: space-evenly;
    }
    .aboutScrollbar {
      width: 11vw;
    }
    .contentList i {
      font-size: 1.1em;
      margin-left: 0.5em;
    }
    .contentList {
      display: flex;
      flex-direction: column;
      gap: 1.9em;
      position: absolute;
    }

    .formContainer {
      width: 25vw;
      margin-left: 13em;
    }
  }



  @media only screen and (max-width: 768px) {

    .About {
      margin: 1em;
    }

    .Amenties {
      margin: 1em;
    }

   .mission {
    margin: 2em;
   }

   .vision {
    margin: 2em;
   }

   .values {
    margin: 2em;
   }
  
   .contentList i {
    font-size: 0.6em;
  }

  .FormMap {
    margin: auto;
  }
  .contentList {
    /* background-color: rgb(36, 37, 42, .2); */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    
    margin-top: 0.5em;
    border-radius: 5px;
    gap: 1.9em;
    background-color: var(--secondary);
    padding: 0.7em;
    /* width: fit-content; */
  }
  
  .formContainer {
    width: 80%;
    margin-left: 0.5em;
  }

  }


.mission {
  max-width: 45ch;
}

.vision {
  max-width: 40ch;
}

.values {
  max-width: 50ch;
}

.aboutScrollbar {
  color: var(--fourth);
  margin-left: 1vw;
  position: sticky;
  border-radius: 15px;
  top: 0;

}

.aboutScrollbar h2 {
  font-size: clamp(1.3rem, 2vw, 1.7rem);
}



.FormMap {
  display: flex;
  justify-content: end;
  padding-right: 1em;
  padding-top: 3em;
}

/* Political contacts */

.pcContainer {
  min-height: 100vh;
}

/* resident */

.residentContainer {
  min-height: 100vh;
}

.boxShadow {
  box-shadow: 1px 2px 9px var(--fourth);
  margin: 4em;
  padding: 0.4em;
  width: max-content;
  color: var(--fourth);
  margin: auto;
  font-size: clamp(1.7rem, 2vw, 2.7rem);
  border-radius: 7px;
}

.boxShadow:hover {
  filter: drop-shadow(0 0 2em var(--teritary));
  cursor: pointer;
  color: var(--teritary);
}

/* form */

.formContainer {
  display: flex;
  flex-direction: column;
  
}

/* emergency */

.ContactLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--secondary);
  border-radius: 10px;
  margin: 2em 1.3em;
}

/* Rentals */

.browse {
  background-color: var(--teritary);
  color: var(--secondary);
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1.1em;
}

.browse:hover {
  transform: scale(1.2);
}

.Content {
  overflow: hidden;
  background-color: #E5E7DD;
  position: sticky !important; 
  top: 0;
  width: 100%;
}

.rentalContent {
  position: relative;
}