:root {
  --primary: #1f3b62;
  --secondary: #24252a;
  --teritary: #e5e7dd;
  --fourth: #eac25e;
  --font-1: IBM Plex Sans Arabic;
  --font-2: Inter;
  --font-3: Lilita One;
  --font-4: Mogra;
  --font-5: Roboto Condensed;
  --font-6: Ubuntu Condensed;
}

body {
  background-color: var(--primary);
}

/* Page break line */
.breakpoint-1 {
  background-color: transparent;
  border: 0;
  border-top: 3px double var(--fourth);
  height: 3px;
  margin-top: 1rem;
  padding-bottom: 1em;
}

/* underfold */

.under-fold {
  display: grid;
  grid-template-columns: 75% 1fr;
}

@media screen and (max-width: 768px) {
  .under-fold {
    grid-template-columns: 1fr;
  }
  .cards {
    margin-top: 1em;
    border-left: none !important;
  }
}

.carousel-parent {
  width: 100%;
  margin-left: 1em;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  width: clamp(30%, 100vw, 100%);
  height: 100vh;
  overflow: hidden;
}

/* carousel gradient for text to be seen */
.carousel-parent .carousel-item:before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgb(31, 59, 98, 0.5)
  );
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.cards {
  background-color: transparent;
  border: 0;
  border-left: 2px double var(--fourth);
  height: max-content;
  padding-left: 2em;
  margin-left: 3em;
}

.card-parent {
  margin: 0;
  padding: 0.9em;
  background-color: var(--secondary);
  margin-bottom: 1em;
}

.card-body {
  color: var(--teritary);
}

/* side cards button */
.button {
  color: var(--teritary);
  border: 2px solid var(--fourth);
}

.button:hover {
  color: var(--fourth);
  background-color: var(--primary);
  border: 2px solid var(--fourth);
}
